<% include ./partials/header %> 
    <div class="row">
        <h1 style="text-align: center">Sign up</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" id="username" type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" id="password" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" type="text" name="firstName" placeholder="Firstname">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Lastname">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" id="email" type="text" name="email" placeholder="john@doe.com">
                </div>
                                </div>
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input class="form-control" id="avatar" type="text" name="avatar" placeholder="Avatar image url">
                </div>
                <div class="form-group">
                    <label for="admin">Admin code</label>
                    <input class="form-control" id="admin" type="text" name="adminCode" placeholder="Admin code">
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
<% include ./partials/footer %> 
